<md-content>
    <form name="myForm" id="myForm" class="form-horizontal my-form" ng-submit="submitUser()">
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs="50">
                <label>Nome Completo</label>
                <input type="text" ng-model="person.fullName" required>
            </md-input-container>

            <md-input-container class="md-block" flex-offset-gt-xs="10" flex-gt-xs="">
                <label>Celular</label>
                <input type="number" ng-model="person.telephone" required>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs="50">
                <label>Email</label>
                <input type="email" ng-model="person.email" required>
            </md-input-container>

            <md-input-container class="md-block" flex-offset-gt-xs="10" flex-gt-sm="">
                <label>Sexo</label>
                <md-select ng-model="person.sex">
                    <md-option ng-repeat="sex in sexes" value="{{sex}}">
                        {{sex}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout-gt-xs="">
            <md-input-container class="md-block" flex-gt-xs="">
                <label>Link para Facebook</label>
                <input type="url" ng-model="person.facebookLink" required>
                <div class="hint">Ex.: http://www.facebook.com/leonardogcsoares</div>
            </md-input-container>
        </div>
        <div layout-gt-xs="">
            <md-input-container class="md-block" flex-gt-sm="45">
                <label>Curso</label>
                <md-select ng-model="person.course">
                    <md-option ng-repeat="course in courses" value="{{course}}">
                        {{course}}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-offset-gt-xs="10" flex-gt-xs="45">
                <label>Periodo</label>
                <input type="number" ng-model="person.semester" required min="1" max="16">
            </md-input-container>
        </div>

        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs="45">
                <label>Bairro</label>
                <input type="text" ng-model="person.suburb" required>
            </md-input-container>

            <md-input-container class="md-block" flex-offset-gt-xs="10" flex-gt-xs="45">
                <label>Cidade</label>
                <input type="text" ng-model="person.city" required>
            </md-input-container>
        </div>

        <div layout-gt-xs="row" layout-align-gt-xs="center center">
            <md-button type="submit" id="submitButton" class="md-raised md-primary">Submeter</md-button>
        </div>

    </form>
</md-content>